@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    #login {
        width: 80vw;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 70%;
    }

    body {
        background-image: linear-gradient(to top, green, blue);
    }
}

@media screen and (min-width: 992px) {
    #login {
        width: 950px;
    }

    body {
        background-image: linear-gradient(to top, green, blue);
    }

    #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 50%;
    }
}